@import url("https://fonts.googleapis.com/css2?family=Gantari&display=swap");

$main-color: rgb(255, 215, 0, 0.7);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gantari", sans-serif;
  background-color: rgb(43, 43, 43);
}

h1 {
  color: white;
  padding: 20px 0 20px 0;
}

.timer {
  display: block;
  color: $main-color;
  padding: 0 0 20px 0;
  font-size: 40px;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 450px;
  background: rgb(29, 28, 28);
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 3px 3px 10px black;
  overflow: hidden;
}

.top {
  text-align: center;
}

.down {
  display: flex;
  justify-content: center;
}

.btn {
  width: 50px;
  height: 30px;
  background: rgb(29, 28, 28);
  margin: 5px;
  color: white;
  border: 2px solid $main-color;
  border-bottom: 2px solid rgb(43, 43, 43);
  border-right: 2px solid rgb(43, 43, 43);
  border-radius: 5px;
  cursor: pointer;
}

.archive {
  width: 230px;
  margin: 10px auto 30px auto;
  text-transform: uppercase;
}

.icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  color: white;
  cursor: pointer;
}

.brush {
  right: 30px;
}

.active {
  color: $main-color;
  display: block;
}

.items {
  display: none;
  text-align: center;
  color: white;
}

.items.active {
  display: block;
}

.colors {
  position: absolute;
  right: -10%;
  top: 50%;
  transform: translateY(-50%);
  transition: 1s;
  cursor: pointer;
}

.colors.active {
  right: 2%;
}

.color {
  height: 40px;
  width: 40px;
  border: 4px solid black;
  margin-top: 10px;
  border-radius: 50%;
}

.gold {
  background-color: $main-color;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.popup {
  position: absolute;
  z-index: 1;
  width: 350px;
  background: rgb(80, 40, 133);
  padding: 20px;

  h2 {
    color: white;
    margin-bottom: 10px;
  }

  p {
    margin-left: 10px;
    padding: 2px;
    color: white;
  }

  button {
    text-align: center;
  }

  div {
    width: 100%;
    text-align: center;
  }
}
